/* Add this CSS to your stylesheet */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #121212;
    color: #fff;
    text-align: center;
  }
  
  .header-section {
    flex: 1;
  }
  
  @font-face {
    font-family: 'SuperComic';
    src: url('../../public/Assets/Fonts/SuperComic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

 .logo {
  font-size: 15px;
  font-weight: bold;
  font-family: 'SuperComic';
}
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
    display: inline;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .logo p {
    font-size: 1rem;
    margin: 0;
    color: #FF5722; /* Highlight color */
  }