/* CSS for LandingPage.css */

.landing-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
/* FallingImage.css */
.falling {
  height: 50vh;
  width: 50vw;
  animation: fall 3s linear;
  animation-fill-mode: forwards;
  position: absolute;
  top: 0; /* Start from the top of the screen */
  left: 50%;
  transform: translateX(-50%);
}

@keyframes fall {
  0% {
    transform: translateX(-50%) translateY(-100vh); /* Start off-screen */
  }
  100% {
    transform: translateX(-50%) translateY(0); /* Reach the top of the screen */
  }
}

/* RisingImage.css */
.rising {
  height: 50vh;
  width: 50vw;
  animation: rise 3s linear;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 0; /* Start from the bottom of the screen */
  left: 50%;
  transform: translateX(-50%);
}

@keyframes rise {
  0% {
    transform: translateX(-50%) translateY(100vh); /* Start off-screen */
  }
  100% {
    transform: translateX(-50%) translateY(0); /* Reach the bottom of the screen */
  }
}
