/* ImageWithText.css */
@font-face {
  font-family: 'SuperComic';
  src: url('../../public/Assets/Fonts/SuperComic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.image-with-text {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px 50px;
    text-align: center;
    font-family: "Arial", sans-serif; /* Comic book-style font */
    line-height: 2.5;
    font-size: 15px;
    
  }
  
.text-content {
    flex: 1;
    padding: 25px 50px;
    border-radius: 100px;
    background-color: #e8e3d7;
  }
  
  .image-with-text h2 {
    font-family: 'SuperComic';
    font-size: 20px;
  }
  
  
 .image-content {
    flex: 1;
    padding: 20px;
  }
  
  .image-with-text img {
    max-width: 400px;
    height: 300px;
    border-radius: 30px;

  }

  